# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.user
*.user.*
*.moc
moc_*
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

.vscode
*.enc
.history
encedit
bin
build
CMakeCache.txt
CMakeFiles
cli
